@import url(./global.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}



@media (375px >= width) {

    body{
        background-color: var(--fondo-color);
        height: 100%;
    }

    header{
        background-color: var(--superficie-dos);
        position: sticky;
        top: 0;
    }
    
    h3{
        color: var(--texto-color);
        font-size: 20px;
    }
}