:root{
    --primary-color : #6d28d9;
    --primary-claro : #8b5cf6;
    --secundary-color : #10b981;
    --acento-color : #f5930b;
    --fondo-color : #121212;
    --superficie-color : #1e1e1e;
    --superficie-dos : #2d2d2d;

    --texto-color : #fff;
}