:root{
    --primary-color-gradient : linear-gradient(135deg, #6D28D9, #8B5CF6);
    --primary-color-original : #6D28D9;
    --primary-claro : #8b5cf6;
    --secundary-color : #10b981;
    --acento-color : #f5930b;
    --fondo-color : #121212;
    --superficie-color : #1e1e1e;
    --superficie-dos : #2d2d2d;
    --texto-secundario : #A0A0A0;
    
    --texto-color : #fff;
    --font-family : 'system-ui'
}