@import url(./global.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--superficie-dos);
}
.nav-bar{
    display: flex;
    justify-content: space-between;  
    align-items: center;  
}

.cuadrado-violeta{
    margin-left: 20px;
}

.nav-bar img{
    margin-right: 20px;
}

@media (375px >= width) {
    .cuadrado-violeta{
        display: block;
        width: 70px;
        height: 40px;
        background-color: var(--primary-color);
        border-radius: 10px;
    }

    .nav-bar img{
        width: 60px;
    }

    .contacto{
        width: 300px;
        display: block;
        
    }
}